<%= form_with model: @post do |form| %>
  <% if @post.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>Se detectaron errores:</strong>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control", placeholder: "Ingrese el título..." %>
  </div>
  <div class="mb-3">
    <%= form.label :image, class: "form-label" %>
    <%= image_tag form.object.image_url if form.object.cached_image_data %>
    <%= form.hidden_field :image, value: form.object.cached_image_data %>
    <%= form.file_field :image, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :body, class: "form-label" %>
    <%= form.text_area :body, class: "form-control", placeholder: "Ingrese el cuerpo...", rows: 10 %>
  </div>
  <div class="text-center">
    <%= form.submit class: "btn btn-danger" %>
    <%= link_to "Volver", posts_path, class: "btn btn-secondary" %>
  </div>
<% end %>
