<div class="row">
  <div class="col">
    <h3><%= @post.title %></h3>
  </div>
  <% if can? :manage, @post %>
    <div class="col" style="text-align: right;">
      <%= link_to "Editar", edit_post_path(@post), class: "btn btn-warning" %>
      <% if @post.is_hidden %>
        <%= link_to "Mostrar", unhide_post_path(@post), class: "btn btn-warning", data: {
          turbo_method: "put"
        } %>
        <%= link_to "Borrar", post_path(@post), class: "btn btn-danger", data: {
          turbo_method: "delete",
          turbo_confirm: "¿Estás seguro?"
        } %>
      <% else %>
        <%= link_to "Ocultar", hide_post_path(@post), class: "btn btn-warning", data: {
          turbo_method: "put"
        } %>
      <% end %>
    </div>
  <% end %>
</div>
<hr>
<div class="row" style="width: 75%; margin: 0 auto;">
  <%= image_tag @post.image_url if @post.image %>
</div>
<hr>
<div class="row">
  <div class="col">
    <small class="text-muted">
      Publicada el
      <%= @post.created_at.strftime("%d/%m/%Y %H:%M") %>
      por <%= User.find(@post.created_by).name %>
    </small>
    <br>
    <small class="text-muted">
      Modificada el <%= @post.updated_at.strftime("%d/%m/%Y %H:%M") %>
      por <%= User.find(@post.last_updated_by).name %>
    </small>
  </div>
</div>
<div class="row" style="padding: 0 10px; white-space: pre-line;">
  <%= @post.body %>
</div>
<hr>
<h2>Comentarios</h2>
<div class="text-center">
  <%= link_to "Volver", posts_path, class: "btn btn-secondary" %>
</div>
